   {% load static %}
   <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{% static 'assets/img/hero-carousel/sairee1.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>โรงพยาบาลส่งเสริมสุขภาพตำบลหาดทรายรี</h2>
            <p>มุ่งสู่การเป็น ชุมชนสุขภาวะดี ที่ทุกคนสามารถเข้าถึงบริการสุขภาพที่เป็นเลิศได้อย่างเท่าเทียม</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'assets/img/hero-carousel/sairee2.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>โรงพยาบาลส่งเสริมสุขภาพตำบลหาดทรายรี</h2>
            <p>วิสัยทัศน์ของเราคือการเห็นประชาชนในพื้นที่ ปลอดจากโรคที่ป้องกันได้ และมีคุณภาพชีวิตที่ดีอย่างยั่งยืน</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'assets/img/hero-carousel/sairee3.jpg' %}" alt="">
          <div class="carousel-container">
            <h2>โรงพยาบาลส่งเสริมสุขภาพตำบลหาดทรายรี</h2>
            <p>รพ.สต. เป็นผู้นำการสร้างเสริมสุขภาพและป้องกันโรคในชุมชน ประชาชนมีสุขภาวะดีอย่างยั่งยืน</p>
            <a href="#featured-services" class="btn-get-started">Get Started</a>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->