{% extends 'healthcenter/base_0.html' %}
{% load static %}
{% block content %}
   <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>'งานแสดงผลงานและบริการของเรา'</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-product">Product</li>
            <li data-filter=".filter-branding">Branding</li>
            <li data-filter=".filter-books">Books</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
            {% for item in portfolio_items %}
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <div class="portfolio-content h-100">
                <a href="{{ item.image.url }}" data-gallery="portfolio-gallery-app" class="glightbox"><img src="{{ item.image.url }}" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="{% url 'healthcenter:portfolio_detail' item.pk %}" title="More Details">{{ item.title|safe }}</a></h4>
                  <a href="{% url 'healthcenter:portfolio_detail' item.pk %}"><p>{{ item.description|safe }}</p></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}
            

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->
{% endblock %}