{% extends 'healthcenter/base_0.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}
{{ form.media.css }}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Manage Portfolio Item</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
        <a href="{% url 'healthcenter:home' %}" class="btn btn-secondary mt-3">Home</a>
    </form>
</div>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
